<div class="row">
  <div class="span6 offset3">
   <h4>Update your profile</h4>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %><br/>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
