<div class="row">
  <div class="span6 offset3">
    <h4>Sign up</h4>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %><br/>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <p>Already have account? <%= link_to "Sign In now!", signin_path %></p>
  </div>
</div>
