<div class="span6">
  <div class="logo">
    <%= link_to raw("<sup>Desk2Mob</sup>"), root_path %>
    <%= raw("<br/><span>Share Your Knowledge &amp; Experience</span>") %>
  </div>
</div>
<%= render 'layouts/ads/middle_header_ads' %>


